extends ./layout

block links
	a(href="/admin" class="link") Back to Admin
	
block content
	h3(class="mb-4") Add Product
	h3 #{msg}
	form(action="/admin/products" method="post" enctype="multipart/form-data")
		.row
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="Title", placeholder="Title" name="title")
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="slug", placeholder="Slug" name="slug")
		.row
			.col-6
				.form-group
					input.form-control(type="number", aria-describedby="price", placeholder="Price" name="price")
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="externalLink", placeholder="External Link" name="externalLink")
		.row
			.col-6
				.form-group
					label Image
					input.form-control-file(type="file" name="imageUpload")
		.form-group
			label Description
			textarea(class="form-control" rows=5 name="description")
		button(class="btn btn-primary" type=submit) Add Product
