extends ./layout

block content
	h3(class="mb-4") Add Product
	form
		.row
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="Title", placeholder="Title")
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="slug", placeholder="Slug")
		.row
			.col-6
				.form-group
					input.form-control(type="number", aria-describedby="price", placeholder="Price")
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="link", placeholder="Link")
		.row
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="img", placeholder="Image")
			.col-6
				.form-group
					label Image
					input.form-control-file(type="file")
		.form-group
			label Description
			textarea(class="form-control" rows=5)