extends ./layout

block links
	a(href="/admin" class="link") Back to Admin
	
block content
	h3(class="mb-4") Add Product
	h3 #{msg}
	form()
		.row
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="Title", placeholder="Title" name="title" required)
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="slug", placeholder="Slug" name="slug" required)
		.row
			.col-6
				.form-group
					input.form-control(type="number", aria-describedby="price", placeholder="Price" name="price" required)
			.col-6
				.form-group
					input.form-control(type="url", aria-describedby="externalLink", placeholder="External Link" name="externalLink" required id="externalLinkInput")
		.row
			.col-6
				.form-group
					label Image
					input.form-control-file(type="file" name="imageUpload")
		.form-group
			label Description
			textarea(class="form-control" rows=5 name="description" required)
		button(class="btn btn-outline-success" id="submitForm" type=submit) Add Product
