extends ./layout

block links
	a(href="/" class="link") Back to Site

block content
	div(class="d-flex justify-content-between align-content-baseline mb-4")
		h3 List of Products
		a(href="/admin/product/add" class="btn btn-primary") Add
	hr.mb-5
	if products.length > 0
		each product in products
			div(class="my-4 d-flex flex-row justify-content-between")
				div(class="")
					div(class="d-flex flex-row align-items-center")
						h2 #{product.title}
						span(class="ml-3") $#{product.price}
					div
						p #{product.description}
				div(class="")
					a(href="/admin/product/delete/" + product._id class="btn btn-danger") Delete
	else
		div(class="d-flex justify-content-center align-items-center")
			p(class="text-muted") You don't have any products!
