extends ./layout

block content
	h3 Products

	each product in products

		div(class="my-4")
			div(class="d-flex flex-row align-items-center")
				h2 #{product.title}
				span(class="ml-3") $#{product.price}
			div
				p #{product.description}
