.admin_productImg {
	height: 100px;
	width: auto;
}

.btn-outline-edit {
	border: 1px solid #2ecc71;
	color: #2ecc71;
}
.btn-outline-edit:hover {
	background: #2ecc71;
	color: white;
}
.input-container {
	height: 55px;
    margin-bottom: 10px;
}

.modal .modal-dialog{
	position: fixed;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%) !important;
}


.settings_name {
	width: 250px;
}
