
hr {
	height: 2px;
}

.link {
	color: #333;
	text-decoration: none;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.link:hover {
	cursor: pointer;
}
.link:hover, .link-active {
	border-bottom: 3px solid #333;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

.resetAnchor {
	text-decoration: none;
	color: #333;
}
.resetAnchor:hover {
	text-decoration: none;
	color: #333;
}


.sub-text {
	font-size: 12px;
	color: #1f1f1f1;
}

.input--error {
	border: 1px solid red;
}
.input--success {
	border: 1px solid green;
}
.error {
	color: red;
	font-size: 12px;
	line-height:16px;
}

.btn:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}
