.product-box {
	height: 250px;
	width: 100%;
	background: #eee;
	overflow: hidden;
}
.product-box img {
	width: 100%;
}
.product-container {
	display: block;
	margin-bottom: 5px;
}
.product_text {
	background-color: white;
	padding: 5px 10px;
}
.product_title {
	font-size: 18px;
	font-weight: bold;
}
.product_price {
	font-size: 14px;
}
