.product-box {
	height: 250px;
	width: 100%;
	background: #eee;
	overflow: hidden;
}
.product-box img {
	width: 100%;
}
.product-container {
	display: block;
	margin-bottom: 5px;
}
.product_text {
	background-color: white;
	padding: 5px 10px;
}
.product_title {
	font-size: 18px;
	font-weight: bold;
}
.product_price {
	font-size: 14px;
	color: green;
}
.product_price--display {
	color: green;
}
.product_description {
	max-width: 75ch;
	word-wrap: break-word;
	margin: 100px auto;
}

.pagination {
	justify-content:center;
}

.submenu {
	margin-top: 10px;
}

.categories {
	display: flex;
	flex-direction: row;

}
.category-link {
	margin-right: 5px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #333;
	padding: 3px 5px;
}
.category-link:hover, .category-link.active {
	cursor: pointer;
	background: #333;
	color: white;
}
.cateogry-link--admin {
	margin-bottom: 5px;
}
.categories-container--admin {
	display: flex;
	flex-wrap: wrap;
}
