extends ../layout

block links
	a(href="/admin/login" class="link") Login

block content
	h3(class="mb-4").text-center Create Account
	form(action="/admin/signup/" method="post")
		.d-flex.justify-content-center.row
			.col-4
				.form-group.input-container
					input.form-control(type="text", aria-describedby="Email", placeholder="Email" name="email" required)
		.d-flex.justify-content-center.row
			.col-4
				.form-group.input-container
					input.form-control(type="password", aria-describedby="Password", placeholder="Password" name="password" required)
		.d-flex.justify-content-center.row
			button(class="btn btn-outline-success" type=submit) Signup		

block scripts
	script(src="/js/utils.js")
	script(src="/js/validation.js")
	script(src="/js/auth.js")
