extends layouts/main

block title
	h2 Product Store

block links
	if user
		a(href="/admin" class="link") Admin
	else
		a(href="/admin/login" class="link") Login
	
block content
		
	main.mt-5
		.container
			h4.text-center.mt-5 Sorry we can't display this page
			h2.text-center.mt-5 #{message}
			
			div(class="d-flex justify-content-center align-items-center mt-5")
			
				a(href="/" class="btn btn-outline-success ") Go back to site
