extends layouts/main

block title
	h2 Product Store

block links
	if user
		a(href="/admin" class="link") Admin
	else
		a(href="/admin/login" class="link") Login
	
block content
	.submenu.container
		.categories
			.category-link.active Latest
			.category-link Under $10
			.category-link Toys
			.category-link Gifts
			.category-link Clothes
			.category-link More...
	main.mt-5
		.container
			if products.length > 0
				.row
					each product in products
						.col-lg-4.col-md-6.col-12
							a(href="/products/" + product.slug).resetAnchor.product-container
								if product.imgLink
									.product-box
										img(src='/productImages/' + product.imgLink)
								else
									.product-box
								.d-flex.justify-content-between.align-items-center.product_text
									span.product_title #{product.title}
									span.product_price $#{product.price}
			else
				div(class="d-flex justify-content-center align-items-center")
					p(class="text-muted") Sorry no products
			nav(aria-label="Page navigation example")
				ul.pagination
					li.page-item
						a(href="").page-link <
					li.page-item
						a(href="").page-link 1
					li.page-item
						a(href="").page-link >
