extends layouts/main

block title
	h2 Product Store

block links
	a(href="/admin/signup" class="link") Signup
	a(href="/admin/login" class="link") Login
	a(href="/admin" class="link") Admin
	
block content
	main.mt-5
		.container
			if products.length > 0
				.row
					each product in products
						.col-lg-4.col-md-6.col-12
							a(href="/products/" + product.slug).resetAnchor
								if product.imgLink
									.product-box
										img(src='/productImages/' + product.imgLink)
								else
									.product-box
								.d-flex.justify-content-between.align-items-center.mt-2
									span #{product.title}
									span.sub-text $#{product.price}
			else
				div(class="d-flex justify-content-center align-items-center")
					p(class="text-muted") Sorry no products
