extends layouts/main

block title
	h2 #{product.title}
	
block links
	a(href="/" class="link") Back to list
	
block content
	main.mt-5
		.container
			.row
				.col-6
					if product.imgLink
						.product-box
							img(src='/productImages/' + product.imgLink)
					else
						.product-box
				.col-6
					.row.d-flex.justify-content-between.align-items-center
						h3 Price
						h2 $#{product.price}
					.row.mt-3
						a(class="btn btn-primary" href=product.link) Buy
			.row.mt-5
				.col-12
					p #{product.description}
