extends ../layout

block links
	a(href="/admin" class="link") Products
	a(href="/admin/users" class="link").link-active  Users
	a(href="/admin/user/profile/"+ user._id class="link") Profile
	a(data-toggle="modal" data-target="#logoutModal" class="link") Logout
	
block content
	include ../../shared/logoutModal
	
	div(class="d-flex justify-content-between align-items-baseline mb-4")
		span.d-flex.flex-row.align-items-baseline
			h3 List of Users
			small.ml-3 #{users.length} users
		a(href="/admin/users/add" class="btn btn-outline-primary") Add
	hr.mb-5
	if users.length > 0
		each usern in users
			div(class="my-4 d-flex flex-row justify-content-between")
				div(class="")
					div(class="d-flex flex-row align-items-center")
						if usern.local.email == user.local.email
							h2 #{usern.local.email} (you)
						else
							h2 #{usern.local.email}
				div(class="")
					button(data-toggle="modal" data-target="#deleteModal" class="btn btn-outline-danger") Delete
					#deleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true")
						.modal-dialog(role="document")
							.modal-content
								.modal-body
									| Are you sure you want to delete this user?
								.modal-footer
									button.btn.btn-secondary(type="button" data-dismiss="modal") Close
									a.btn.btn-danger(href="/admin/users/delete/" + usern._id) Delete User
