extends ../layout

block links
	a(href="/admin" class="link") Back to Admin
	
block content
	h3(class="mb-4") Add Product
	h3 #{msg}
	
	hr.mb-5
		
	div
		.row
			.col-6
				.form-group.input-container
					input.form-control(type="text", aria-describedby="Title", placeholder="Title" name="title")
			.col-6
				.form-group.input-container
					input.form-control(type="text", aria-describedby="slug", placeholder="Slug" name="slug")
		.row
			.col-6
				.form-group.input-container
					input.form-control(type="number", aria-describedby="price", placeholder="Price" name="price")
			.col-6
				.form-group.input-container
					input.form-control(type="url", aria-describedby="externalLink", placeholder="External Link" name="externalLink" id="externalLinkInput")
		.row.mb-3
			.col-6
				.form-group
					input.form-control(type="text", aria-describedby="categories", placeholder="Categories" name="categories" id="categoriesInput")
				#categories-container.categories-container--admin
					span.mr-3 Added:
			.col-6
				.form-group
					label Image
					input.form-control-file(type="file" name="imageUpload")
		.form-group
			label Description
			textarea(class="form-control" rows=5 name="description" required)
		.row
			.col-12 
				button(class="btn btn-outline-success" id="submitBtn") Add Product
